.top-container{ 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.nav-item {
    color: black;
    
}
body{
    background-color: whitesmoke;
    /* background-color: black; */
    /* color: white; */
}


.test-content{
    padding: 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-content: center;
}

.fa-facebook {
  padding: 20px;
  font-size: 30px;
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
  font-size: 30px;
  padding: 20px;
    background: #125688;
    color: white;
  }

.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .table-content{
  padding: 20px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  align-content: center;
  text-align: center;
 
}

th,td{
  text-align: center;
}